In [16]:
import csv
import pandas as pd

Value in column funds are written as dollar currency. However this data will use for machine learning model for scholarship in Indonesia then we should convert it to Rupiah by multiply it to the latest currency.

In [122]:
df = pd.read_csv('https://raw.githubusercontent.com/Namirachmi/capstone2023/machine-learning/Scholarship_dataset.csv')
df.head()

,scholarship_program_name,promoter,funds,region,race,gpa,religion,major_study,gpa_status,identity,...,essay,high_school,senior_high_school,undergraduate,high_school-undergraduate,senior_high_school-undergraduate,undergraduate-graduate,graduate,any,education_level
0,Curry & C/O '22 Scholarship,Kimora Jane Curry,500,All USA States,NaN,0.0,Public,Any,False,All gender,...,True,False,True,False,False,False,False,False,False,Senior High School
1,Jared Ethan Trueba Memorial Scholarship,The Trueba Family,500,All USA States,NaN,0.0,Public,Any,False,All gender,...,True,True,False,False,False,False,False,False,False,High School
2,Linda Hicks Memorial Scholarship,Calvin Hicks and Tanya Minor,1000,All USA States,African American,0.0,Public,Any,False,All gender,...,True,False,False,True,False,False,False,False,False,Undergraduate
3,Nitro No-Essay Scholarship,Nitro College,2000,All USA States,NaN,0.0,Public,Any,False,All gender,...,False,False,False,False,False,False,False,False,True,Any
4,Niche No-Essay Scholarship,Niche,2000,All USA States,NaN,0.0,Public,Any,False,All gender,...,False,False,False,False,False,False,False,False,True,Any

In [123]:
print(f"The Dataset have {df.shape[0]} row and {df.shape[1]} column")
df.dtypes

The Dataset have 506 row and 28 column

scholarship_program_name             object
promoter                             object
funds                                 int64
region                               object
race                                 object
gpa                                 float64
religion                             object
major_study                          object
gpa_status                             bool
identity                             object
underrepresented_minority              bool
volunteering                           bool
first_generation                       bool
parental_status                      object
enrollment_pattern                   object
low_income                             bool
background                           object
total_awardee                         int64
essay                                  bool
high_school                            bool
senior_high_school                     bool
undergraduate                          bool
high_school-undergraduate              bool
senior_high_school-undergraduate       bool
undergraduate-graduate                 bool
graduate                               bool
any                                    bool
education_level                      object
dtype: object

## Step 1 : Let's checking the data types for every column.

There are six column with boolean value : underrepresented_minority, volunteering, first_generation, low_income, and essay.  
If we look closely there is one column with false data types. It was the funds column supposed to be float insetad of integer.
  
So let's fix it!

In [124]:
#fixing funds column
df['funds'] = df['funds'].astype('float64')

In [20]:
df.head()

,scholarship_program_name,promoter,funds,region,race,religion,major_study,gpa,gpa_status,identity,...,essay,high_school,senior_high_school,undergraduate,high_school-undergraduate,senior_high_school-undergraduate,undergraduate-graduate,graduate,any,education_level
0,Curry & C/O '22 Scholarship,Kimora Jane Curry,500.0,All USA States,NaN,Public,Any,0.0,False,All gender,...,True,False,True,False,False,False,False,False,False,Senior High School
1,Jared Ethan Trueba Memorial Scholarship,The Trueba Family,500.0,All USA States,NaN,Public,Any,0.0,False,All gender,...,True,True,False,False,False,False,False,False,False,High School
2,Linda Hicks Memorial Scholarship,Calvin Hicks and Tanya Minor,1000.0,All USA States,African American,Public,Any,0.0,False,All gender,...,True,False,False,True,False,False,False,False,False,Undergraduate
3,Nitro No-Essay Scholarship,Nitro College,2000.0,All USA States,NaN,Public,Any,0.0,False,All gender,...,False,False,False,False,False,False,False,False,True,Any
4,Niche No-Essay Scholarship,Niche,2000.0,All USA States,NaN,Public,Any,0.0,False,All gender,...,False,False,False,False,False,False,False,False,True,Any

In [125]:
#Now let's check it again if all the column have the right data types
print(df.dtypes)

scholarship_program_name             object
promoter                             object
funds                               float64
region                               object
race                                 object
gpa                                 float64
religion                             object
major_study                          object
gpa_status                             bool
identity                             object
underrepresented_minority              bool
volunteering                           bool
first_generation                       bool
parental_status                      object
enrollment_pattern                   object
low_income                             bool
background                           object
total_awardee                         int64
essay                                  bool
high_school                            bool
senior_high_school                     bool
undergraduate                          bool
high_school-undergraduate              bool
senior_high_school-undergraduate       bool
undergraduate-graduate                 bool
graduate                               bool
any                                    bool
education_level                      object
dtype: object

## Step 2 : Let's selecting the column that relatable

Since the data was scraping from Bold which is a scholarship for only USA Citizen. We have to select a column that will be usefull and related with Indonesia. 

Column race and region are not related, since the geography is different. Hence let's drop those two column.

Not only that, column major and background is not really necessary so we will drop it.

In [126]:
df.drop(['region', 'race', 'major_study', 'background'], inplace=True, axis=1)

In [127]:
column_name = df.columns.values
print(column_name)

['scholarship_program_name' 'promoter' 'funds' 'gpa' 'religion'
 'gpa_status' 'identity' 'underrepresented_minority' 'volunteering'
 'first_generation' 'parental_status' 'enrollment_pattern' 'low_income'
 'total_awardee' 'essay' 'high_school' 'senior_high_school'
 'undergraduate' 'high_school-undergraduate'
 'senior_high_school-undergraduate' 'undergraduate-graduate' 'graduate'
 'any' 'education_level']

In [128]:
#print(column_name[3:])

for i in column_name[3:] :
    print(f"\n{i} values =")
    print(df[i].unique())

gpa values =
[0.   3.   3.3  2.7  2.8  3.75 2.5  3.5  3.2  2.   3.6  2.9  2.75 3.4 ]

religion values =
['Public' 'Islam' 'Jewish' 'Catholic']

gpa_status values =
[False  True]

identity values =
['All gender' 'Female' 'LGBTQ+' 'Male' 'LGBTQIA+']

underrepresented_minority values =
[False  True]

volunteering values =
[False  True]

first_generation values =
[False  True]

parental_status values =
['Together' 'Single mother' 'Guardian parent' 'Single parent family'
 'Single mother family' 'Single parent child' 'Single parent']

enrollment_pattern values =
['Traditional Student' 'Nontraditional student']

low_income values =
[False  True]

total_awardee values =
[ 1  4  2  5  3  6 12 25 10]

essay values =
[ True False]

high_school values =
[False  True]

senior_high_school values =
[ True False]

undergraduate values =
[False  True]

high_school-undergraduate values =
[False  True]

senior_high_school-undergraduate values =
[False  True]

undergraduate-graduate values =
[False  True]

graduate values =
[False  True]

any values =
[False  True]

education_level values =
['Senior High School' 'High School' 'Undergraduate' 'Any'
 'Senior High School-Undergraduate' 'High School-Undergraduate'
 'Undergraduate-Graduate' 'Graduate']

### Let's check if there is a row with null value in it!

In [129]:
df.isnull().sum().sort_values(ascending=False)

scholarship_program_name            0
promoter                            0
any                                 0
graduate                            0
undergraduate-graduate              0
senior_high_school-undergraduate    0
high_school-undergraduate           0
undergraduate                       0
senior_high_school                  0
high_school                         0
essay                               0
total_awardee                       0
low_income                          0
enrollment_pattern                  0
parental_status                     0
first_generation                    0
volunteering                        0
underrepresented_minority           0
identity                            0
gpa_status                          0
religion                            0
gpa                                 0
funds                               0
education_level                     0
dtype: int64

## Step 3 : Let's checking values that still relateable

In column identity which listing a value about gender that can applying the scholarship. You may look that there are value LGBTQ+ and LGBTQIA+. Unfortunately, in Indonesia only two gender acknowleged, female and male. Hence, we have to drop columns with LGBTQ+ and LGBTQIA+ values on identity column.

In [130]:
identity_filter = df[ (df['identity'] == 'LGBTQ+') | (df['identity'] == 'LGBTQIA+')].index

df.drop(identity_filter, inplace=True)

In [131]:
df.shape

(496, 24)

In [35]:
import numpy as np

In [132]:
funds_in_rupiah = df['funds'].values

df['funds'] = np.dot(funds_in_rupiah, 13000)
df.head()

,scholarship_program_name,promoter,funds,gpa,religion,gpa_status,identity,underrepresented_minority,volunteering,first_generation,...,essay,high_school,senior_high_school,undergraduate,high_school-undergraduate,senior_high_school-undergraduate,undergraduate-graduate,graduate,any,education_level
0,Curry & C/O '22 Scholarship,Kimora Jane Curry,6500000.0,0.0,Public,False,All gender,False,False,False,...,True,False,True,False,False,False,False,False,False,Senior High School
1,Jared Ethan Trueba Memorial Scholarship,The Trueba Family,6500000.0,0.0,Public,False,All gender,False,False,False,...,True,True,False,False,False,False,False,False,False,High School
2,Linda Hicks Memorial Scholarship,Calvin Hicks and Tanya Minor,13000000.0,0.0,Public,False,All gender,False,False,False,...,True,False,False,True,False,False,False,False,False,Undergraduate
3,Nitro No-Essay Scholarship,Nitro College,26000000.0,0.0,Public,False,All gender,False,False,False,...,False,False,False,False,False,False,False,False,True,Any
4,Niche No-Essay Scholarship,Niche,26000000.0,0.0,Public,False,All gender,False,False,False,...,False,False,False,False,False,False,False,False,True,Any

## Step 4 : Let's convert some columns from categorical into numerical data (Ordinal Encoding)

In [38]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

In [155]:
col_encd = (df.iloc[:, 4:]).columns.values
arr_enc = []

for i in col_encd :
  arr_enc.append(i)

print(arr_enc)

['religion', 'gpa_status', 'identity', 'underrepresented_minority', 'volunteering', 'first_generation', 'parental_status', 'enrollment_pattern', 'low_income', 'total_awardee', 'essay', 'high_school', 'senior_high_school', 'undergraduate', 'high_school-undergraduate', 'senior_high_school-undergraduate', 'undergraduate-graduate', 'graduate', 'any', 'education_level']

In [156]:
col_ord_enc = df[arr_enc].apply(LabelEncoder().fit_transform)

In [186]:
#religion, gpa_status, identity, underrepresented_minority, 
#volunteering, first_generation, parental_status, enrollment_pattern, 
#low_income, total_awardee, essay, high_school, senior_high_school, 
#undergraduate, high_school-undergraduate, senior_high_school-undergraduate, 
#undergraduate-graduate, graduate, any, education_level

In [ ]:
dic_encd = {}

In [187]:
#for i in arr_enc:
#  index = ("\'" + i + "\'")
#  df_encod = df.assign(arr_enc[i] = col_ord_enc[index])

In [188]:
#df_encod = for i in arr_enc: df.assign(arr_enc[i] = col_ord_enc[i])

In [ ]:
ordinal_encod = OrdinalEncoder(dtype=int)

gpastatus_enc = df['gpa_status'].values.reshape(-1, 1)
ordinal_encod.fit(gpastatus_enc)
df_gpastatus_ord = ordinal_encod.transform(gpastatus_enc)

df_encod = df.assign(gpa_status=df_gpastatus_ord)
df_encod.head(15)

,scholarship_program_name,promoter,funds,education_level,religion,major_study,gpa,gpa_status,identity,underrepresented_minority,...,first_generation,parental_status,enrollment_pattern,low_income,background,total_awardee,deadline,essay,funding_type,scholarship_status
0,Curry & C/O '22 Scholarship,Kimora Jane Curry,6500000.0,Senior High School,Public,Any,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,1,2023-08-15,True,Donor,Open
1,Jared Ethan Trueba Memorial Scholarship,The Trueba Family,6500000.0,High School,Public,Any,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,1,2024-04-01,True,Donor,Open
2,Linda Hicks Memorial Scholarship,Calvin Hicks and Tanya Minor,13000000.0,Undergraduate,Public,Any,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,1,2023-07-28,True,Donor,Open
3,Nitro No-Essay Scholarship,Nitro College,26000000.0,Any,Public,Any,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,1,2023-05-31,False,Sponsored,Open
4,Niche No-Essay Scholarship,Niche,26000000.0,Any,Public,Any,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,1,2021-05-31,False,Sponsored,Open
5,ScholarshipOwl No-Essay Scholarship,ScholarshipOwl,13000000.0,Any,Public,Any,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,4,2023-04-30,False,Sponspored,Open
6,CollegeVine $2000 No-Essay Scholarship,CollegeVine,26000000.0,Any,Public,Any,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,2,2023-06-30,False,Sponsored,Open
7,Patrick B.Moore Memorial Scholarship,Friends and Family of Patrick B. Moore,6500000.0,High School,Public,Any,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,1,2023-10-01,True,Donor,Open
8,CampusReel $2000 No-Essay Sweepstakes,CampusReel,26000000.0,Any,Public,Any,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,2,2023-05-31,False,Sponsored,Open
9,Diane Amendt Memorial Scholarship for the Arts,Swift,13000000.0,Any,Public,Arts,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,1,2023-08-05,True,Donor,Open
10,Richard P. Mullen Memorial Scholarship,John Baptista,6500000.0,Any,Public,Engineering,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,1,2023-11-15,True,Donor,Open
11,Craig Huffman Memorial Scholarship,Huffman Family,26000000.0,Any,Public,Aviation,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,1,2023-10-15,True,Donor,Open
12,"Across Cultures ""Expand Your Horizons"" Scholar...",Ben Schneider,13000000.0,Any,Public,Any,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,1,2024-04-28,True,Donor,Open
13,Growing Up in the Family Restaurant Business S...,The Lam-Wong,26000000.0,Senior High School-Undergraduate,Public,Any,0.0,0,All gender,False,...,True,Together,Traditional Student,False,First-generation,1,2023-08-01,True,Donor,Open
14,GojiCenter Animation Scholarship,GojiCenter,26000000.0,High School-Undergraduate,Public,Graphic Design/Animation/VFX,0.0,0,All gender,False,...,False,Together,Traditional Student,False,None,2,2023-10-01,True,Donor,Open